<!DOCTYPE html>
<html>
    <head>
        <title>AceSurvey | Welcome back, <%= me.name %>!</title>
        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!--STYLES-->
        <link rel="stylesheet" href="/styles/angular-toastr.css">
        <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
        <link rel="stylesheet" href="/styles/importer.css">
        <!--STYLES END-->
        <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
        <script type="text/javascript">
        window.SAILS_LOCALS = {
        _csrf: '<%= _csrf %>',
        me: <%- JSON.stringify(me) %>
        };
        </script>
    </head>
    <body ng-modules="dashboard, globals" dashboarddata ng-cloak>
        <!-- container = Fixed-width container container-fluid = full-width -->
        <dashboardnav></dashboardnav>
        <div class="content">
            <div class="container-fluid">
                <div ng-if="<%= me.isAdmin %>">
                    <h1 class="admin-title">Admin Dashboard</h1>
                    
                    <div id="add-question" class="col-md-6 questions">
                        <h3>Add a new question:</h3>
                        <form ng-submit="dashboard.createQuestion(dashboard, question.text)" id="create-question-form" class="" name="create-question">
                            <input ng-model="question.text">
                            <input type="submit" class="btn btn-default">
                        </form>

                        <div ng-if="dashboard.responses">
                            <div class="responses" ng-repeat="response in dashboard.responses">
                            <p>Total responses: {{ dashboard.responses.length }}</p> 
                            Answer: {{ response.answerTexts }}, User: {{ response.user }}</div>
                        </div>
                    </div>
                    
                    <!-- QUESTIONS -->
                    <div id="questions-list" class="col-md-6 questions">
                        <h2>Questions</h2>
                        <div ng-repeat="q in dashboard.questions">
                            <p class="question-item">
                                <span>{{ q.title }}</span>
                                <a href="" ng-click="dashboard.deleteQuestion(dashboard, q.id)"><span class="glyphicon glyphicon-remove"></span></a>
                            </p>
                            <form ng-submit="dashboard.checkResponses(dashboard, q.id)" class="" name="create-answer">
                                <button class="btn btn-default" type="submit">Check Responses</button>
                            </form>
                            <div class="check-answers">
                                <button class="btn btn-default"><label for="{{q.id}}">Edit Answers</label></button>
                            </div>
                            <input id="{{q.id}}" type=checkbox><div style="display: none;">
                            <h5>Add a new answer:</h5>
                            <form ng-submit="dashboard.createAnswer(dashboard, q.id, answer.text)" class="" name="create-answer">
                                <input ng-model="answer.text">
                                <button class="btn btn-default" type="submit">Add</button>
                            </form>
                            <p class="answers-title">Answers:</p>
                            <div ng-repeat="ans in q.Answers">
                                <ul>
                                    <li>{{ ans.answer }} (id: {{ ans.id }})
                                        <a href="" ng-click="dashboard.deleteAnswer(dashboard, q.id, ans.id)"><span class="glyphicon glyphicon-remove"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="<%= !me.isAdmin %>">
            <div ng-if="dashboard.done"><h1>All done!</h1></div>
            <h1>{{ dashboard.currentQuestion.title }}</h1>
            <div ng-repeat="answer in dashboard.currentQuestion.Answers">
            {{ answer.answer }} <a href="" ng-click="dashboard.submitResponse(dashboard, dashboard.currentQuestion.id, answer.id, <%= me.id %>)"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/angular.min.js"></script>
<script src="/js/dependencies/angular-toastr.js"></script>
<script src="/js/dependencies/compareTo.module.js"></script>
<script src="/js/dependencies/lodash.min.js"></script>
<script src="/js/public/global/angular.ng-modules.js"></script>
<script src="/js/public/global/global.js"></script>
<script src="/js/public/signup/signup.js"></script>
<script src="/js/private/dashboard/dashboard.js"></script>
<script src="/js/public/homepage/homepage.js"></script>
<!--SCRIPTS END-->
<footercontent></footercontent>
</body>
</html>